html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body  .background {
    width: 100%;
    height: 100%;
    background: url('https://www.nba.com/wizards/sites/wizards/files/1718-bg-2120x18003_1.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.background .main {
    width: 60%;
    background-color: #F2F4F4;
    margin: 0 auto;
}

@media only screen and (man-width:480px) {
.background .main {
    width: 90%;
    background-color: #F2F4F4;
    margin: 0 auto;
}
}

.main {
    margin: 50 auto;  
}

.main .headline {
    width: 100%;
}

.headline .wizlogo {
    max-width: 300px;
    max-height: 300px;
}

@media only screen and (min-width:960px) {
.headline .wizlogo {
    width: 200px;
    height: 200px;
    float: left;
    }
.headline .col-lg-8 {
    float: right;
    }
}

.headline h4 {
    font-size: 10px;
    font-weight: bold;
}

.headline h1 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 18px;
}

#tix-alert {
    min-width: 130px;
    padding: 3px 35px;
    margin-bottom: 5%;
    height: 23px;
    line-height: 23px;
    border-radius: 3px;
    background-color: #009cde;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}
